src/main/mule/controller-flows.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"	
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:email="http://www.mulesoft.org/schema/mule/email"
	xmlns:coal-int-infm-reference-data-dapi="http://www.mulesoft.org/schema/mule/coal-int-infm-reference-data-dapi"
	xmlns:rxr-util-bhp="http://www.rubiconred.com/bhp/mule/extensions"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.rubiconred.com/bhp/mule/extensions http://www.rubiconred.com/bhp/mule/extensions/current/mule-rxr-util-bhp.xsd
http://www.mulesoft.org/schema/mule/coal-int-infm-reference-data-dapi http://www.mulesoft.org/schema/mule/coal-int-infm-reference-data-dapi/current/mule-coal-int-infm-reference-data-dapi.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">

	<flow name="cf-get-tokenIQT"
		doc:id="c0d6da0a-77cd-4e0d-a659-d34bf1d46b0d">
		<flow-ref doc:name="uf-generate-ids"
			doc:id="487fd90f-b969-4517-a8c2-14d455ba3627" name="uf-generate-ids" />
		<set-variable value="TokenResponse"
			doc:name="MESSAGE_ROOT" doc:id="50a0c56e-527f-40c8-8523-ea91d6b241f1"
			variableName="MESSAGE_ROOT" />
		<rxr-util-bhp:bhp-logger doc:name="Input"
			logMessage="API Input" eventStage="Input"
			businessKeys="#[vars.BUSINESS_KEYS]">
			<rxr-util-bhp:body><![CDATA[#[{
	"requestUri": attributes.requestUri
}]]]></rxr-util-bhp:body>
		</rxr-util-bhp:bhp-logger>
		<flow-ref doc:name="pf-get-token"
			doc:id="332b3cb9-2622-4e95-b86f-1597784be48b"
			name="pf-get-token" />
		<rxr-util-bhp:bhp-logger doc:name="Output"
			logMessage="API Output" eventStage="Output"
			businessKeys="#[vars.BUSINESS_KEYS]" />
		<error-handler ref="apiExceptionHandler" />
	</flow>
</mule>
